nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between; 
    flex-wrap: nowrap;
    & .app{
  
    list-style: none;
    display: flex;
    width: 20%;
    height: 100%;           
    }   
}

nav li a{
    text-decoration: none;
    margin: 2rem;
   }

aside h4{
    text-align: center;
    margin-top: 1rem;
    font-size: smaller;
}